@import url("./fonts.css");

/* General styles */
:root {
    --color-dark-blue-80: rgba(49, 129, 153, 0.8);
    --color-dark-blue: #318199;
    --color-light-blue: #50C2DD;
    --color-dark-orange: #EB8823;
    --color-light-orange: #FFC04F;
    --color-dark-gray: #bbbdbf;
    --color-med-gray: #d0d2d3;
    --color-light-gray: #e6e7e8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Loew Next Arabic meduim", sans-serif;
    font-size: 0.85em;
}

.hidden {
    opacity: 0;
}


h3 {
    font-family: "Loew Next Arabic extraBold", sans-serif;
}

.bg-dark-blue {
    background-color: var(--color-dark-blue);
}

.bg-light-blue {
    background-color: var(--color-light-blue);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-med-gray {
    background-color: var(--color-med-gray);
}

.bg-light-gray {
    background-color: var(--color-light-gray);
}

.bg-dark-orange {
    background-color: var(--color-dark-orange);
}

.bg-light-orange {
    background-color: var(--color-light-orange);
}


input::placeholder {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.8em;
}

.copy-rights {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.7em;
    border-top: 0.5px solid var(--color-light-blue);
}

address {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.8em;
    line-height: 1.6;
    border-top: 0.5px solid var(--color-light-blue);
}

.btn-masar {
    font-size: 1em;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px var(--color-light-gray);
}

.btn-dark-orange {
    background-color: var(--color-dark-orange);
    color: white;
}

.btn-dark-orange:hover {
    background-color: var(--color-light-orange);
}

.btn-light-blue {
    background-color: var(--color-light-blue);
    color: white;
}

.btn-light-blue:hover {
    background-color: var(--color-dark-blue);
}

/* Header styles */

.logo-header {
    max-height: 60px;
}

.header-nav {
    padding: 30px 10px;
    border-bottom: 2px solid transparent;
}

.header-nav:hover {
    background-color: white;
    border-bottom: 2px solid var(--color-dark-orange);
}

.user-icon>svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    margin-right: 5px;
}

/* Footer Styles */


.logo-footer {
    max-height: 100px;
}

.social-icons svg {
    background-color: var(--color-light-blue);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

.social-icons a:hover svg {
    background-color: var(--color-light-gray);
    color: var(--color-dark-orange)
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
}

.footer-links:hover a {
    color: var(--color-dark-blue);
    background-color: var(--color-light-gray);
}

/* Show Styles */
#carouselId ol {
    list-style: none;
}



.carousel--data {
    position: absolute;
    background-color: var(--color-dark-blue-80);
    border-radius: 10px;
    top: 50%;
    left: 60%;
    right: 10%;
    transform: translateY(-50%);
}

.carousel--data h5 {
    font-family: "Loew Next Arabic extrabold", sans-serif;
}

.carousel--data p {
    font-family: "Loew Next Arabic", sans-serif;
    line-height: 1.6;
    text-align: justify;
}

.carousel--data button {
    width: 100%;
}

/* Services Styles */

.serv-ico {
    max-height: 100px;
    min-height: 60px;
}

.serv-ico:hover {
    opacity: 0.9;
}


/* Books */

.book-title {
    background-color: var(--color-light-gray);
    position: relative;
    bottom: 30px;
    height: 25px;
    font-size: 0.9em;
    opacity: 0;
    transition: 0.5s;
}

.book-title>p {
    text-overflow: ellipsis;
    direction: rtl;
    white-space: nowrap;
    overflow: clip;
}

.book-container:hover .book-title {
    opacity: 1;
}