@import url("./fonts.css");

/* General styles */
:root {
    --color-dark-blue-80: rgba(49, 129, 153, 0.8);
    --color-dark-blue: #318199;
    --color-light-blue: #50C2DD;
    --color-light-blue-10: #50c3dd1a;
    --color-dark-orange: #EB8823;
    --color-light-orange: #FFC04F;
    --color-dark-gray: #bbbdbf;
    --color-med-gray: #d0d2d3;
    --color-light-gray: #e6e7e8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Loew Next Arabic meduim", sans-serif;
    font-size: 0.85em;
}

.hidden {
    opacity: 0;
}


h3 {
    font-family: "Loew Next Arabic extraBold", sans-serif;
}

.c-darkOrange {
    color: var(--color-dark-orange);
}

.c-darkBlue {
    color: var(--color-dark-blue);
}

.bg-dark-blue {
    background-color: var(--color-dark-blue);
}

.bg-light-blue {
    background-color: var(--color-light-blue);
}

.bg-light-blue-10 {
    background-color: var(--color-light-blue-10);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-med-gray {
    background-color: var(--color-med-gray);
}

.bg-light-gray {
    background-color: var(--color-light-gray);
}

.bg-dark-orange {
    background-color: var(--color-dark-orange);
}

.bg-light-orange {
    background-color: var(--color-light-orange);
}


input::placeholder {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.85em;
}

.copy-rights {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.8em;
    border-top: 0.5px solid var(--color-light-blue);
}

address {
    font-family: "Loew Next Arabic", sans-serif;
    font-size: 0.9em;
    line-height: 1.6;
    border-top: 0.5px solid var(--color-light-blue);
}

.btn-masar {
    font-size: 1em;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px var(--color-light-gray);
}

.btn-dark-orange {
    background-color: var(--color-dark-orange);
    color: white;
}

.btn-dark-orange:hover {
    background-color: var(--color-light-orange);
}

.btn-light-blue {
    background-color: var(--color-light-blue);
    color: white;
}

.btn-light-blue:hover {
    background-color: var(--color-dark-blue);
}

/* Header styles */

.logo-header {
    max-height: 60px;
}

.header-nav {
    padding: 28px 10px;
    border-bottom: 2px solid transparent;
    min-width: 100px;
}

.header-nav:hover {
    background-color: white;
    border-bottom: 2px solid var(--color-dark-orange);
}

@media (max-width: 768px) {
    .header-nav {
        padding: 7px 10px;
        border-bottom: 2px solid transparent;
        min-width: 100px;
    }
}

.user-icon>svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    margin-right: 5px;
}

/* Footer Styles */


.logo-footer {
    /* height: 20%; */
    width: 120px;
    /* max-height: 100px; */
}

.social-icons svg {
    background-color: var(--color-light-blue);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

.social-icons a:hover svg {
    background-color: var(--color-light-gray);
    color: var(--color-dark-orange)
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
}

.footer-links:hover a {
    color: var(--color-dark-blue);
    background-color: var(--color-light-gray);
}

/* Show Styles */
#carouselId ol {
    list-style: none;
}



.carousel--data {
    position: absolute;
    background-color: var(--color-dark-blue-80);
    border-radius: 10px;
    top: 50%;
    left: 60%;
    right: 10%;
    transform: translateY(-50%);
}

.carousel--data h5 {
    font-family: "Loew Next Arabic extrabold", sans-serif;
}

.carousel--data p {
    font-family: "Loew Next Arabic", sans-serif;
    line-height: 1.6;
    text-align: justify;
}


@media (max-width:991px) {
    .carousel--data {
        left: 40%;
    }

    .carousel--data h5 {
        font-size: 1.1em;
    }

    .carousel--data p {
        font-size: 0.9em;

    }
}

/* Services Styles */

.serv-ico {
    max-height: 100px;
    min-height: 60px;
}

.serv-ico:hover {
    opacity: 0.9;
}


/* Books */

.book-container {
    max-width: 200px;
    text-align: center;
    position: relative;
}

.book-container img,
.book-title {

    width: 150px;
}


.book-title {
    background-color: var(--color-light-gray);
    position: absolute;
    bottom: 5px;
    height: 25px;
    font-size: 0.8em;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.book-container:hover .book-title {
    opacity: 1;
}

.book-title>p {
    text-overflow: ellipsis;
    direction: rtl;
    white-space: nowrap;
    overflow: clip;
}


@media (max-width:576px) {
    .book-container {
        width: 50%;
    }

}

.transation {
    transition: 0.3s ease-in-out;
}

/* User and Admin Icons */
.user-bell:hover,
.user-cart:hover,
.user-account:hover {
    background-color: var(--color-dark-gray);
    cursor: pointer;
}

/* Dropdown menus */
.dropdown-item {
    font-size: 0.8em;
}


#servDropdown {
    top: 79px;
    right: 0;
    z-index: 5;
    display: none;
    text-align: start;
}

#servDropdown li>a {
    border-radius: 4px;
    width: 95%;
}

#servDropdown li>a:hover {
    background-color: white;
}

@media (min-width:576px) {
    .servHBtn:hover #servDropdown {
        display: flex;
    }
}

.list-group {
    font-size: 0.9em;
    cursor: pointer;
}

/* About Page */
/* .aboutPage .about-img {} */